body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: black url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

nav {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    text-align: center;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
}

#branding {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#branding img {
    width: 15%;
}

#branding h2 {
    margin-top: 0.5em;
    font-size: 2.5em;
    font-weight: 400;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}


#contact-form {
    margin: 2rem auto;
    width: 80%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

button {
    background-color: #00b98b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #008f77;
}


.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.team-member {
    flex-basis: calc(20% - 20px); /* Adjust the width as necessary */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-member img {
    width: 100%; /* Adjust if necessary */
    height: auto;
    border-radius: 50%; /* Make circular if desired */
}

.team-member h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.team-member p {
    font-size: 1rem;
    color: #777;
}

.team-member a {
    font-size: 1rem;
    color: #00b98b; /* Adjust color as necessary */
    text-decoration: none;
}

.team-member a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .team-member {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .team-member {
        flex-basis: 100%;
    }
}